body {
    background-color: rgb(3, 144, 238);
    margin: 0;
    padding: 0;
    text-align: center;
}



.wrapper {
  /* background-color: bisque; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
    
}
#timer{
background-color: antiquewhite;
position: fixed;
height: 30px;
width: 50px;
text-align: center;
padding: 10px;
margin: 0 0 0 5%;
}
