body {
    background-color: rgb(6, 155, 182);
    margin: 0;
    text-align: center;
}


.wrapper {
  /* background-color: bisque; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    float: left;
    
}
#show-number{
background-color: antiquewhite;
position: fixed;
height: 30px;
width: 50px;
text-align: center;
padding: 10px;
margin: 0 0 0 5%;


}

#content{
    width: 80%;
    margin: 0 auto;
    background-color: darkcyan;
    height: 1000px;
    opacity: .8;

}

h1 {
    padding: 50px 0 0;
    margin: 0;
    text-align: center;
}


#videoDiv {
    width: 100%; 
    height: 100%; 
    position: fixed;
    z-index: -1;
}
#videoBlock {
    width: 100%; 
    height: 100%;  
    display: flex;  
    justify-content: center; 
    align-items: center;}

#quiz{
    /* background-color: blueviolet; */
    display: none;
    padding: 0 8%;
}

#results {
    display: none;
}

#introBtn {
    margin: 60px auto;
    /* background-color: tomato; */
    text-align: center;
}

#startBtn {
    width: 50%;
    height: 50px;

}